<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center secondary-text">
                Trabajamos con los mejores para mantener un servicio de calidad
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="center primary-text">¿Cómo funciona?</h3>
        </div>
    </div>
    <div class="row tarjetaRow center">
        <div class="col s12 valign-wrapper tarjeta center">
            <div class="face face1">
                <div class="imgAccion">
                    <img src="../../../../../assets/img/servcios-images1.png" alt="">
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    Las lavanderias se registran en Labo-app y ofrecen sus servicios.
                </div>
            </div>
        </div>
    </div>
    <div class="row tarjetaRow center">
        <div class="col s12 valign-wrapper tarjeta center">
            <div class="face face1">
                <div class="imgAccion">
                    <img src="../../../../../assets/img/servcios-images2.png" alt="">
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    Labo-app facilita el medio tecnologico para el encuentro Lavanderia - Cliente.
                </div>
            </div>
        </div>
    </div>
    <div class="row tarjetaRow center">
        <div class="col s12 valign-wrapper tarjeta center">
            <div class="face face1">
                <div class="imgAccion">
                    <img src="../../../../../assets/img/servcios-images3.png" alt="">
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    Los clientes se registran en Labo-app y solicitan los servicios.
                </div>
            </div>
        </div>
    </div>
</div>