<ul id="slide-out" class="sidenav primary white-text">
    <li>
        <div class="user-view">
            <div class="background white">
                <img src="/assets/img/LaboLogo.png">
            </div>
            <!-- <div href="#user" class="profileImgContainer">
                <img class="circle" src="app/admin/assets/img/defaultUser.png">
            </div>
            <a href="#name">
                <span class="white-text name">John Doe</span>
            </a>
            <a href="#email">
                <span class="white-text email">jdandturk@gmail.com</span>
            </a> -->
        </div>
    </li>

    <li class="no-padding" *ngFor="let item of menu">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header" [routerLink]="[item.link] " routerLinkActive="active" *ngIf="item.link != 'lista'; else disabaleLink">
                    <i class="fas " [ngClass]="item.icon "></i> {{item.display}}
                </a>
                <ng-template #disabaleLink>
                    <a class="collapsible-header">
                        <i class="fas " [ngClass]="item.icon "></i> {{item.display}}
                    </a>
                </ng-template>

                <div class="collapsible-body secondary">
                    <ul>
                        <li *ngFor="let subitem of item.submenu ">
                            <a [routerLink]="[item.link, subitem.link] " routerLinkActive="active ">
                                <i class="fas " [ngClass]="subitem.icon "></i> {{subitem.display}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="divider "></div>
            </li>
        </ul>
    </li>
</ul>