<div id="hero">
    <div class="row">
        <div class="col s12 m6">
            <h4 id="titleHero" class="secondary-text">Con LABO las lavanderías están más cerca de ti</h4><br>
            <button id="btnRegistro" class="boton primary">REGÍSTRATE</button>
        </div><br>
        <div class="col s12 m6">
            <div id="laundries">
                <img src="../../../../../assets/img/Laundries.png" alt="">
            </div>
            <div id="user">
                <img src="../../../../../assets/img/User.png" alt="">
            </div>
        </div>
    </div>
</div>