<div class="container">
    <div class="row">
        <div class="col s12 m6 valign-wrapper" id="legend">
            <h4 class="center primary-text">Descarga la aplicacion de Labo-app e inicia tu experiencia de forma agil y segura.</h4>
        </div>
        <div class="col s12 m6">
            <div class="imgMockup">
                <img src="../../../../../assets/img/movil-mockup.png" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <social-menu (sendForm)="changeForm($event)"></social-menu>
        </div>
        <div class="col s12 m6">
            <contact-form style="display: none" class="form"></contact-form>
            <whatsapp-form class="form"></whatsapp-form>
        </div>
    </div>
</div>