.imgMockup {
    width: 100%;
}

.imgMockup img {
    width: 100%;
}

#legend h4 {
    position: relative;
    transform: translateY(100%);
}

@media screen and (max-width: 450px) {
    #legend h4 {
        transform: translateY(0%);
    }
}