.navbar {
    height: 5em;
    width: 85%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    transition: all .2s
}

#logoContainer {
    width: 45%;
    padding-top: 2em;
    transition: all .3s ease-out;
    cursor: pointer;
}

#logoContainer img {
    width: 100%;
}

#nav-mobile {
    display: flex;
}

#nav-mobile li a {
    color: #ffffff;
    cursor: pointer;
}

#nav-mobile li a.active {
    color: #761f87;
}

#nav-mobile li {
    margin: 15px 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.scrolled {
    width: 8% !important;
    padding-top: .4em !important;
}

.filled {
    width: 100vw;
    padding: 0 7.5%;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

.openMenu {
    position: relative;
    top: 1em;
    font-size: 1.5em;
    color: #c355a1;
}

.close {
    color: #ffffff !important;
    z-index: 21;
}

.opened {
    right: 0 !important;
}

@media screen and (max-width: 450px) {
    .navbar {
        width: 100vw;
        top: -1px;
    }
    #logoContainer {
        width: 95%;
    }
    .scrolled {
        width: 50% !important;
    }
    #nav-mobile {
        display: block;
        height: 100vh;
        position: fixed;
        top: -1em;
        right: -170px;
        text-align: right;
        background: #761f87;
        padding-top: 3em;
        transition: all .3s ease-in;
    }
}