<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h3>POLÍTICA DE PRIVACIDAD</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>
                A continuación, le indicamos en detalle los tratamientos de datos personales que realizamos, así como toda la información relativa a los mismos
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Tratamiento de los datos de potenciales clientes y contactos web</h4>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Información básica sobre Protección de datos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Responsable:</b></td>
                        <td>LABO-APP</td>
                    </tr>
                    <tr>
                        <td><b>Finalidad:</b></td>
                        <td>Atender su solicitud y enviarle comunicaciones comerciales</td>
                    </tr>
                    <tr>
                        <td><b>Legitimación:</b></td>
                        <td>
                            <ul>
                                <li>Ejecución de un contrato.</li>
                                <li>Consentimiento del interesado.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Destinatarios:</b></td>
                        <td>No se cederán datos a terceros, salvo obligación legal.</td>
                    </tr>
                    <tr>
                        <td><b>Derechos:</b></td>
                        <td>Tiene derecho a acceder, rectificar y suprimir los datos, así como otros derechos, indicados en la información adicional, que puede ejercer dirigiéndose a la dirección del responsable del tratamiento.</td>
                    </tr>
                    <tr>
                        <td><b>Procedencia:</b></td>
                        <td>El propio interesado.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Información completa sobre Protección de Datos</h4>
            <h5>1. ¿Quién es el responsable del tratamiento de sus datos?</h5>
            <ul>
                <li>LABO-APP.</li>
                <li>OFICINA AV. FEDERICO BOYD, TORRE OCEAN BUSINESS.</li>
                <li>info@labo-app.com</li>
            </ul>
            <h5>2. ¿Con qué finalidad tratamos sus datos personales?</h5>
            <p>En LABO-APP tratamos la información que nos facilitan las personas interesadas con el fin de Atender su solicitud y enviarle comunicaciones comerciales, inclusive por vía electrónica.</p>
            <p>No se van a tomar decisiones automatizadas en base de datos proporcionados.</p>
            <h5>3. ¿Por cuánto tiempo conservaremos sus datos?</h5>
            <p>Los datos se conservarán mientras el interesado no solicite su supresión.</p>
            <h5>4. ¿Cuál es la legitimación para el tratamiento de sus datos?</h5>
            <p>Le indicamos la base legal para el tratamiento de sus datos:</p>
            <ul>
                <li>Ejecución de un contrato: Atender su solicitud</li>
                <li>Consentimiento del interesado: Enviarle comunicaciones comerciales, inclusive por vía electrónica.</li>
            </ul>
            <h5>5. ¿A qué destinatarios se comunicarán sus datos?</h5>
            <p>No se cederán datos a terceros, salvo obligación legal.</p>
            <h5>6. Transferencias de datos a terceros países</h5>
            <p>No están previstas transferencias de datos a terceros países.</p>
            <h5>7. ¿Cuáles son sus derechos cuando nos facilita sus datos?</h5>
            <p>Cualquier persona tiene derecho a obtener confirmación sobre si en LABO-APP estamos tratando, o no, datos personales que les conciernan.</p>
            <p>Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para
                los fines que fueron recogidos. Igualmente tiene derecho a la portabilidad de sus datos</p>
            <p>En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
            <p>En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento de sus datos. En este caso, LABO-APP dejará de tratar los datos, salvo por motivos legítimos imperiosos,
                o el ejercicio o la defensa deposibles reclamaciones.</p>
            <p>Cuando se realice el envío de comunicaciones comerciales utilizando como base jurídica el interés legítimo del responsable, el interesado podrá oponerse al tratamiento de sus datos con ese fin.</p>
            <p>Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.</p>
            <p>En caso de que sienta vulnerados sus derechos en lo concerniente a la protección de sus datos personales, especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos, puede presentar una reclamación ante la Autoridad
                de Control en materia de Protección de Datos competente.</p>
            <h5>8. ¿Cómo hemos obtenido sus datos?</h5>
            <p>Los datos personales que tratamos en LABO-APP proceden de: El propio interesado.</p>
        </div>
    </div>
    <div class="row">
        <h4>Tratamiento de los datos de clientes</h4>
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Información básica sobre Protección de datos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Responsable:</b></td>
                        <td>LABO-APP</td>
                    </tr>
                    <tr>
                        <td><b>Finalidad:</b></td>
                        <td>Prestar los servicios solicitados y enviar comunicaciones comerciales</td>
                    </tr>
                    <tr>
                        <td><b>Legitimación:</b></td>
                        <td>
                            <ul>
                                <li>Ejecución de un contrato.</li>
                                <li>Interés legítimo del Responsable.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Destinatarios:</b></td>
                        <td>
                            <ul>
                                <li>Están previstas cesiones de datos a: Agencia Tributaria; </li>
                                <li>Entidades financieras.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Derechos:</b></td>
                        <td>Tiene derecho a acceder, rectificar y suprimir los datos, así como otros derechos, indicados en la información adicional, que puede ejercer dirigiéndose a la dirección del responsable del tratamiento.</td>
                    </tr>
                    <tr>
                        <td><b>Procedencia:</b></td>
                        <td>El propio interesado.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Información completa sobre Protección de Datos</h4>
            <h5>1. ¿Quién es el responsable del tratamiento de sus datos?</h5>
            <ul>
                <li>LABO-APP.</li>
                <li>JOSE MARIA EGAS – ACUARELA DEL RIO - GUAYAS</li>
                <li>info@labo-app.com</li>
            </ul>
            <h5>2. ¿Con qué finalidad tratamos sus datos personales?</h5>
            <p>En LABO-APP tratamos la información que nos facilitan las personas interesadas con el fin de Atender su solicitud y enviarle comunicaciones comerciales, inclusive por vía electrónica.</p>
            <p>No se van a tomar decisiones automatizadas en base de datos proporcionados.</p>
            <h5>3. ¿Por cuánto tiempo conservaremos sus datos?</h5>
            <p>Los datos se conservarán mientras el interesado no solicite su supresión, y en su caso, durante los años necesarios para cumplir con las obligaciones legales.</p>
            <h5>4. ¿Cuál es la legitimación para el tratamiento de sus datos?</h5>
            <p>Le indicamos la base legal para el tratamiento de sus datos:</p>
            <ul>
                <li>Ejecución de un contrato: Realizar la gestión administrativa, contable y fiscal de los servicios solicitados.</li>
                <li>Interés legítimo del Responsable: Enviar comunicaciones comerciales sobre nuestros productos y servicios.</li>
            </ul>
            <h5>5. ¿A qué destinatarios se comunicarán sus datos?</h5>
            <p>Los datos se comunicarán a los siguientes destinatarios:</p>
            <ul>
                <li>Agencia Tributaria, con la finalidad de Cumplir con las obligaciones legales.</li>
                <li>Entidades financieras, con la finalidad de Girar los recibos correspondientes.</li>
            </ul>
            <h5>6. Transferencias de datos a terceros países</h5>
            <p>No están previstas transferencias de datos a terceros países.</p>
            <h5>7. ¿Cuáles son sus derechos cuando nos facilita sus datos?</h5>
            <p>Cualquier persona tiene derecho a obtener confirmación sobre si en LABO-APP estamos tratando, o no, datos personales que les conciernan.</p>
            <p>Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para
                los fines que fueron recogidos. Igualmente tiene derecho a la portabilidad de sus datos</p>
            <p>En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
            <p>En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento de sus datos. En este caso, LABO-APP dejará de tratar los datos, salvo por motivos legítimos imperiosos,
                o el ejercicio o la defensa deposibles reclamaciones.</p>
            <p>Cuando se realice el envío de comunicaciones comerciales utilizando como base jurídica el interés legítimo del responsable, el interesado podrá oponerse al tratamiento de sus datos con ese fin.</p>
            <p>Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.</p>
            <p>En caso de que sienta vulnerados sus derechos en lo concerniente a la protección de sus datos personales, especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos, puede presentar una reclamación ante la Autoridad
                de Control en materia de Protección de Datos competente.</p>
            <h5>8. ¿Cómo hemos obtenido sus datos?</h5>
            <p>Los datos personales que tratamos en LABO-APP proceden de: El propio interesado.</p>
            <p>Las categorías de datos que se tratan son:</p>
            <ul>
                <li>Datos identificativos.</li>
                <li>Direcciones postales y electrónicas</li>
                <li>Información comercial.</li>
            </ul>
        </div>
    </div>
</div>