<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="admin-container">
        <div class="row">
            <div class="col s12">
                <h4>AGREGAR PEDIDO</h4>
            </div>
        </div>
        <div class="row">
            <form action="#" method="post" onsubmit="return false" #addServicio="ngForm">
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Nombre" #Nombre="ngModel" id="Nombre" name="Nombre" type="text"> <label for="Nombre">Nombre</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Apellido" #Apellido="ngModel" id="Apellido" name="Apellido" type="text"> <label for="Apellido">Apellido</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Email" #Email="ngModel" id="Email" name="Email" type="text"> <label for="Email">Email</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Telefono" #Telefono="ngModel" id="Telefono" name="Telefono" type="text"> <label for="Telefono">Teléfono</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Direccion" #Direccion="ngModel" id="Direccion" name="Direccion" type="text"> <label for="Direccion">Dirección</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.FechaRecoleccion" #FechaRecoleccion="ngModel" id="FechaRecoleccion" name="FechaRecoleccion" type="text"> <label for="FechaRecoleccion">Fecha de Recolección</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.IdHorarioRecoleccion" #IdHorarioRecoleccion="ngModel" id="IdHorarioRecoleccion" name="IdHorarioRecoleccion" type="text"> <label for="IdHorarioRecoleccion">Id Horario de Recoleccion</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Latitud_Cliente" #Latitud_Cliente="ngModel" id="Latitud_Cliente" name="Latitud_Cliente" type="number"> <label for="Latitud_Cliente">Latitud del Cliente</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Longitud_Cliente" #Longitud_Cliente="ngModel" id="Longitud_Cliente" name="Longitud_Cliente" type="number"> <label for="Longitud_Cliente">Longitud de Cliente</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Ref_Pago_Tarjeta" #Ref_Pago_Tarjeta="ngModel" id="Ref_Pago_Tarjeta" name="Ref_Pago_Tarjeta" type="number"> <label for="Ref_Pago_Tarjeta">Referencia Pago con Tarjeta</label>
                </div>
                <div class="col s12 input-field">
                    <input required [(ngModel)]="pedido.Total" #Total="ngModel" id="Total" name="Total" type="number"> <label for="Total">Total</label>
                </div>
                <div class="col s6 ordenForm">
                    <div class="col s12">
                        <label for="IdCategoria">Categoria</label>
                        <select (change)="getServiciosByCategorias()" name="categorias" id="Categorias" [(ngModel)]="detalle.IdCategoria" #IdCategoria="ngModel">
                            <option *ngFor="let option of categorias" [value]=option.IdCategoria> {{option.Descripcion}} </option>
                        </select>
                    </div>

                    <div *ngIf="servicios; then serviciosDisponibles"></div>

                    <ng-template #serviciosDisponibles>
                        <div class="col s12">
                            <label for="IdServicio">IdServicio</label>
                            <select [(ngModel)]="detalle.IdServicio" #IdServicio="ngModel" id="IdServicio" name="IdServicio"> 
                                <option *ngFor="let option of servicios" [value]="option.IdServicio"> {{option.Descripcion}} </option>
                            </select>
                        </div>
                        <div class="col s12 input-field">
                            <input [(ngModel)]="detalle.Cantidad" #Cantidad="ngModel" id="Cantidad" name="Cantidad" type="number" placeholder="{{detalle.Cantidad}}"> <label for="Cantidad">Cantidad</label>
                        </div>
                        <div class="col s12">
                            <label for="UnidadMedida">UnidadMedida</label>
                            <select [(ngModel)]="detalle.UnidadMedida" #UnidadMedida="ngModel" id="UnidadMedida" name="UnidadMedida">
                                <option *ngFor="let option of unidadesMedida" [value]="option.IdUnidadMedida">{{option.Descripcion}}</option>
                            </select>
                        </div>
                        <div class="col s12 input-field">
                            <input [(ngModel)]="detalle.Precio" #Precio="ngModel" id="Precio" name="Precio" type="number" placeholder="{{detalle.Precio}}"> <label for="Precio">Precio</label>
                        </div>
                        <div class="col s12">
                            <button class="btn primary center" (click)="addDetalle()">Agregar Detalle</button>
                        </div>
                    </ng-template>

                </div>
                <div class="col s6 OrdenDetalles">
                    <div class="detalle" *ngFor="let detalle of pedido.Detalle_Orden, index as i">
                        <div class="deleteDetalle right" (click)="onDeleteDetalle(i)">
                            <i class="fas fa-times"></i>
                        </div>
                        <ul>
                            <li>IdCategoria: {{detalle.IdCategoria}}</li>
                            <li>IdServicio: {{detalle.IdServicio}}</li>
                            <li>Cantidad: {{detalle.Cantidad}}</li>
                            <li>UnidadMedida: {{detalle.UnidadMedida}}</li>
                            <li>Precio: ${{detalle.Precio}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col s12">
                    <button [disabled]="pedido.Detalle_Orden.length === 0 || !addServicio.form.valid" class="btn primary center" (click)="savePedido()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>