<footer class="page-footer secondary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="imgLogoMono">
                    <img src="../../../../assets/img/LogoHorizontalMono.png" alt="">
                </div>
                <p class="grey-text text-lighten-4">Descarga Labo-app desde tu Android o iPhone</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links importantes</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://play.google.com/">Google Play</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.apple.com/la/ios/app-store/">Apple Store</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Administración</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="['/politica-de-privacidad']">Políticas de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="primary">
        <div class="container">
            © 2019 Copyright Labo-app
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            <a class="grey-text text-lighten-4 right" href="https://nvifor.com">Desarrollado por NVIFOR</a>
        </div>
        <div class="container">


        </div>
    </div>
</footer>