<footer class="page-footer secondary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="imgLogoMono">
                    <img src="../../../../assets/img/LogoHorizontalMono.png" alt="">
                </div>
                <p class="grey-text text-lighten-4">Descarga Labo-app desde tu Android o iPhone</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links importantes</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Google Play</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Apple Store</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Administración</a></li>
                    <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="primary">
        <div class="container">
            © 2019 Copyright Marxa Digital
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>