.admin-container {
    position: relative;
    left: 10%;
    width: 70%;
    margin: 0 auto;
}

.disabledLink {
    /* pointer-events: none; */
    cursor: default;
}

select {
    display: block !important;
    border: 1px solid #761f87 !important;
}

label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
    color: #761f87 !important;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}

.pop-up {
    max-width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    background: #ffffff;
    padding: 1em;
}