<div id="acciones">
    <div class="container">
        <div class="row accion">
            <div class="col s12 m4 valign-wrapper">
                <div class="imgContainer img1">
                    <img src="../../../../../assets/img/user-front.png" alt="">
                </div>
            </div>
            <div class="col s12 m8 valing-wrapper">
                <div class="accionNum">
                    <h3 class="primary-text">1</h3>
                </div>
                <p class="primary-text"><b>Los usuarios califican lavanderías</b></p>
                <p>Creamos un sistema de evaluación dinámico para las lavanderías que permite a sus clientes reconocer la calidad del servicio basado en diferentes características</p>
            </div>
        </div>
        <div class="row accion righted">
            <div class="col s12 m8 valing-wrapper">
                <div class="accionNum">
                    <h3 class="primary-text">2</h3>
                </div>
                <p class="primary-text"><b>Las lavanderías califican a los usuario</b></p>
                <p>Así mismo, creamos un sistema en que las lavanderías podrán calificar a los usuarios registrados y conocer la integridad de la clientela</p>
            </div>
            <div class="col s12 m4 valign-wrapper">
                <div class="imgContainer img2">
                    <img src="../../../../../assets/img/laundry-like.png" alt="">
                </div>
            </div>
        </div>
        <div class="row accion">
            <div class="col s12 m4 valign-wrapper">
                <div class="imgContainer img3">
                    <img style="height: 70%" src="../../../../../assets/img/Star.png" alt="">
                </div>
            </div>
            <div class="col s12 m8 valing-wrapper">
                <div class="accionNum">
                    <h3 class="primary-text">3</h3>
                </div>
                <p class="primary-text"><b>Labo-app potencializa el mejor perfil</b></p>
                <p>Basdo en el sistema de evaluación, damos reconocimiento a quien honor merece. Logrando que las mejores lavandeías rankeadas aparezcan con prioridad</p>
            </div>
        </div>
    </div>
</div>