<div id="info" class="secondary">
    <div class="container">

        <div class="row">
            <div class="col s12 center">
                <h3 class="white-text">Nuestro Compromiso</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h5 class="white-text">LABO-APP, integra cliente - proveedor en servicios de lavanderia , facilitando la localizacion de los diferentes puntos de servicio.</h5>
            </div>
        </div>
        <div class="row tarjetas">
            <div class="tarjeta">
                <div class="face face1">
                    <div class="content">
                        <img src="../../../../../assets/img/icon_info (1).png" alt="">
                        <h4>Seguridad</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Incorporamos seguriades para que tu experiencia sea la mas confortable.</p>
                    </div>
                </div>
            </div>
            <div class="tarjeta">
                <div class="face face1">
                    <div class="content">
                        <img src="../../../../../assets/img/icon_info (2).png" alt="">
                        <h4>Impacto</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Generar el impacto positivo en el mercado usando nuestra herramienta tecnologica</p>
                    </div>
                </div>
            </div>
            <div class="tarjeta">
                <div class="face face1">
                    <div class="content">
                        <img src="../../../../../assets/img/icon_info (3).png" alt="">
                        <h4>Responsabilidad</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Desarrollamos servicios manteniendo la responsabilidad social presente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info2" class="valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h4 class="legend2 white-text">Creemos en la calidad al momento de ofrecer un servicio, ofreciendo el maximo de informacion posible sobre los mismos, mediante un seguimiento continuo.</h4>
            </div>
            <div class="col s6">
                <div class="imgLavanderia">
                    <img src="../../../../../assets/img/lavanderia.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>