<h4 class="center primary-text">Contáctanos</h4>
<ul id="redList">
    <li class="redItem" id="whatsapp" (click)="openForm('whatsapp')">
        <span class="redIcon">
            <i class="fab fa-whatsapp"></i>
        </span>
        <p class="secondary-text">Enviar Whatsapp</p>
    </li>
    <li class="redItem" id="correo" (click)="openForm('correo')">
        <span class=" redIcon ">
            <i class="fas fa-envelope "></i>
        </span>
        <p class="secondary-text ">Enviar Correo</p>
    </li>
    <!-- <li class="redItem " id="messenger ">
        <span class="redIcon ">
            <i class="fab fa-facebook-messenger "></i>
        </span>
        <p class="secondary-text ">Enviar Inbox</p>
    </li> -->
    <!-- <li class="redItem " id="facebook ">
        <span class="redIcon ">
            <i class="fab fa-facebook "></i>
        </span>
        <p class="secondary-text ">Visita nuestro Facebook</p>
    </li>
    <li class="redItem " id="youtube ">
        <span class="redIcon ">
            <i class="fab fa-youtube "></i>
        </span>
        <p class="secondary-text ">Visita nuestro canal de Youtube</p>
    </li> -->
</ul>