<div *ngIf="tabla">

    <table>
        <thead>
            <tr>
                <th *ngFor="let campo of inputs">
                    {{campo.display}}
                </th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fila of DATA; index as i">
                <td *ngFor="let col of fila">
                    <div class="img" *ngIf="col.key.includes('Imagen'); else noImg">
                        <img [src]=col.value alt="">
                    </div>
                    <ng-template #noImg>
                        <span>{{col.value}}</span>
                    </ng-template>

                </td>
                <td class="options">
                    <i [routerLink]="[i]" class="fas waves-circle waves-effect fa-info-circle green-text"></i>
                    <i [routerLink]="['../../editar', currentTabla, i]" routerLinkActive="router-link-active" class="fas waves-circle waves-effect fa-edit blue-text"></i>
                    <i (click)="toDelete(i)" class="fas waves-circle waves-effect fa-trash red-text"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<mx-delete-popup *ngIf="tabla" class="overlay" [tabla]="tabla" [elemento]="selected"></mx-delete-popup>