@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Muli&display=swap');
body {
    font-family: 'Muli', sans-serif !important;
    overflow-y: auto;
    overflow-x: hidden
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid #761f87 !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #c455a1 !important;
    box-shadow: 0 1px 0 0 #c455a1 !important;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #c455a1 !important;
}

.input-field>label {
    color: #761f87 !important
}

input {
    color: #761f87 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Josefin Sans', sans-serif !important;
}

.primary-text {
    color: #761f87 !important
}

.secondary-text {
    color: #c455a1 !important
}

.primary {
    background: #761f87 !important
}

.secondary {
    background: #c455a1 !important
}

.boton {
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .45);
    border-radius: 2em;
    border: none;
    color: #fff !important;
    padding: 1em 2em;
    font-weight: 600;
}

#header {
    height: 460px;
    width: 100vw;
}